<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="m-5">注文情報確認</h3>
      <div class="row">
        <div class="col-8">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-6">商品名</th>
                <th class="col-2">単価(税込)</th>
                <th class="col-2">数量</th>
                <th class="col-2">小計</th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each do |ci| %>
              <tr>
                <td><%= image_tag ci.item.get_image(50, 30) %><%= ci.item.name %></td>
                <td><%= ci.purchase_price.to_s(:delimited) %></td>
                <td><%= ci.amount %></td>
                <td><%= ci.subtotal.to_s(:delimited) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <table class="table table-borderd">
            <tr>
              <th>送料</th><% @order.delivery_charge = 800 %>
              <td><%= @order.delivery_charge %></td>
            </tr>
            <tr>
              <th>商品合計</th>
              <td><%= @order.total_price %></td>
            </tr>
            <tr>
              <th>請求金額</th>
              <td><%= @order.billing_amount.to_s(:delimited) %></td>
            </tr>
          </table>
        </div>
      </div>
      <h4>支払方法</h4>
      <%= @order.payment_method %>
      <h4>お届け先</h4>
      <%= @order.postal_code + @order.address %><br>
      <%= @order.name %>
      <%= link_to "注文を確定する", complete_orders_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>